@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  h1 {
    font-family: var(--font-italianno);
  }
  
  body {
    font-family: var(--font-inter);
    color: var(--foreground);
    background: var(--background);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}